/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
html{
   font-family: 'Roboto', sans-serif;
}

.col-nav{
   text-align: center;
}
#nav-icons{
   margin: auto;
   /*transform: translateX(-25%);*/
}
#best-sell{
   margin-top: 1.5em;
}
.col-best-sell{
   position: relative;
}
#comment-in-img{
   position: absolute;
   left: 50%;
   bottom: 10%;
   -ms-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   background-color: rgba(255, 255, 255, 0.7);
}
img{
   max-width: 100%;
   height: auto;
}

.mini-card{
   position: relative;

}

.mini-card-txt{
   width: 100%;
   background-color: rgba(255, 255, 255, 0.7);
   display: none;
   position: absolute;
   z-index: 100;

}

/*LOGIN DROPDOWN*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*FLOATING BUTTON*/
.floatBtnL{
	position:relative;
	/*width:60px;
	height:60px;*/
   width:60px;
	height:60px;
	background-color:#0C9;
	border-radius:50px 0 0 50px;
	text-align:center;
   z-index: 999;
   /*bottom:40px;
	left:50%;*/
   /*transform: translateX(-60px);*/
}
.floatBtnR{
	position:relative;
	/*width:60px;
	height:60px;*/
   width:60px;
	height:60px;
	background-color:#0C9;
	border-radius:0 50px 50px 0;
	text-align:center;
   z-index: 999;
   float: right;

   /*bottom:40px;
	left:50%;*/
   -ms-transform: translateY(-100%);
   -moz-transform: translateY(-100%);
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
}
.floatBtn{
   position:fixed;
   /*width:60px;
   height:60px;*/
   width:120px;
   height:60px;
   border-radius:50px;
   z-index: 998;
   bottom:40px;
   left:50%;
   -ms-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   /*box-shadow: 2px 2px 10px #999;*/
}
.floatBtnR:hover{
   background-color:#0B8;
}
.floatBtnL:hover{
   background-color:#0B8;
}
.cart{
   float:right;
   margin-right: 15px;
   color:#FFF
}
.cart:hover{
   color:#FFF;
}
.previous{
   float: left;
   margin-left: 20px;
   color:#FFF
}
.previous:hover{
   color:#FFF;
}
