
<div class="container my-5 py-3 shadow" id="best-sell" style="background:#ffcdd2 ">
   <h2 style="color:#af4448">Ventes Flash</h2>
   <div class="row">
      <div class="col-3 col-best-sell">
         <img src="img/who.jpg" alt="who">
         <div id="comment-in-img">The Who</div>
      </div>
      <div class="col-3 col-best-sell">
         <img src="img/rhcp.jpg" alt="rhcp">
         <div id="comment-in-img">Red Hot Chili Peppers</div>
      </div>
      <div class="col-3 col-best-sell">
         <img src="img/tp.jpg" alt="tp">
         <div id="comment-in-img">The Police</div>
      </div>
      <div class="col-3 col-best-sell">
         <img src="img/am.jpg" alt="am">
         <div id="comment-in-img">Arctic Monkeys</div>
      </div>
   </div>
</div>
