<!--BEST SELL-->

<div class="container my-5 shadow" id="best-sell">
   <h2>Ventes Flash</h2>
   <div class="row">
      <div class="col-3 col-best-sell">
         <img src="img/who.jpg" alt="who">
         <div id="comment-in-img">The Who</div>
      </div>
      <div class="col-3 col-best-sell">
         <img src="img/rhcp.jpg" alt="rhcp">
         <div id="comment-in-img">Red Hot Chili Peppers</div>
      </div>
      <div class="col-3 col-best-sell">
         <img src="img/tp.jpg" alt="tp">
         <div id="comment-in-img">The Police</div>
      </div>
      <div class="col-3 col-best-sell">
         <img src="img/am.jpg" alt="am">
         <div id="comment-in-img">Arctic Monkeys</div>
      </div>
   </div>
</div>

<div class="container my-5 shadow " id="categorie">
   <h2>Catégories</h2>
   <div class="row">
      <div class="col-3 my-3 shadow-sm" style="text-align:center">
         <a href="#books" id="show-books">
            <h3>Livres</h3>
            <div class="row">
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
            </div>
         </a>
      </div>
      <div class="col-3 my-3 shadow-sm" style="text-align:center">
         <a href="#music" id="show-music">
            <h3>Musique</h3>
            <div class="row">
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
            </div>
         </a>
      </div>
      <div class="col-3 my-3 shadow-sm" style="text-align:center">
         <a href="#clothing" id="show-clothing">
            <h3>Vêtements</h3>
            <div class="row">
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
            </div>
         </a>
      </div>
      <div class="col-3 my-3 shadow-sm" style="text-align:center">
         <a href="#sports" id="show-sports">
            <h3>Sports & Loisir</h3>
            <div class="row">
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <img src="img/tp.jpg" alt="">
               </div>
               <div class="col-6">
                  <img src="img/am.jpg" alt="">
               </div>
            </div>
         </a>
      </div>
   </div>
</div>

<div class="container" id="books" style="display:none">
   <div class="row">
      <div class="col">
         <h3>Livres</h3>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a purus lacus. Vivamus tincidunt vestibulum efficitur. Aliquam vehicula nisi mi, viverra sollicitudin dui tincidunt a. Pellentesque blandit ultricies metus ut dictum. Etiam
         eget viverra mi, a sollicitudin tellus. Vivamus mauris ex, volutpat at scelerisque et, viverra vitae turpis. Sed pharetra massa at orci tristique ornare. Duis in sodales lectus.

         Suspendisse potenti. Phasellus vitae auctor quam. Ut facilisis suscipit ipsum sit amet posuere. Cras et justo tortor. Integer tempus dolor eu libero posuere, non sodales magna mattis. Nam non bibendum odio, eu pharetra leo. In feugiat
         elit ex, non hendrerit ex dapibus a. Mauris sagittis sollicitudin auctor.

         In vitae arcu in leo rutrum ultricies ac et justo. Nunc egestas sit amet lorem sit amet aliquam. Etiam et nulla condimentum, fringilla est eu, rutrum purus. Aenean auctor aliquet orci. Sed congue ac nisi eget euismod. Fusce ultrices,
         turpis vel pulvinar vehicula, leo felis maximus enim, non imperdiet ante magna vitae lorem. Sed consequat nisi ut ex tincidunt facilisis. Quisque commodo non lectus ut congue. Curabitur massa ex, scelerisque sed commodo vitae, vulputate
         in eros. In vitae metus dictum, vulputate magna id, bibendum libero. Vivamus pellentesque neque id pellentesque iaculis. Nam tincidunt venenatis lacus ac luctus. Vestibulum porta mauris vitae metus laoreet cursus.

         Aliquam semper, ligula sed hendrerit laoreet, ante massa vehicula metus, ac pharetra sapien ex in erat. Pellentesque sit amet elit sit amet elit feugiat bibendum et vitae leo. Curabitur ornare, sapien non ultrices fringilla, turpis nisl
         fringilla eros, in varius nibh arcu vel arcu. Nulla facilisi. Maecenas faucibus est tellus, sit amet sollicitudin turpis egestas sed. Cras malesuada lectus nunc, ut convallis nisi rhoncus vel. Integer sed fringilla neque, non pharetra
         justo. Mauris tincidunt nulla ex, vitae ultrices mauris aliquet at. Nam sodales mi nisi, ut aliquam mauris mollis sit amet. Fusce rutrum ipsum sed ipsum elementum viverra. Proin sem purus, rutrum et erat at, finibus tempor tellus.
      </div>
   </div>
</div>

<div class="container" id="music" style="display:none">
   <div class="row">
      <div class="col">
         <h3>Musique</h3>

         <div class="card" style="width: 18rem;">
            <img src="img/who.jpg" class="card-img-top" alt="who">
            <div class="card-body">
               <h5 class="card-title">The Who</h5>
               <p class="card-text">9,85 €</p>
               <a href="#" class="btn btn-primary">Aperçu</a>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container" id="clothing" style="display:none">
   <div class="row">
      <div class="col">
         <h3>Vêtements</h3>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a purus lacus. Vivamus tincidunt vestibulum efficitur. Aliquam vehicula nisi mi, viverra sollicitudin dui tincidunt a. Pellentesque blandit ultricies metus ut dictum. Etiam
         eget viverra mi, a sollicitudin tellus. Vivamus mauris ex, volutpat at scelerisque et, viverra vitae turpis. Sed pharetra massa at orci tristique ornare. Duis in sodales lectus.

         Suspendisse potenti. Phasellus vitae auctor quam. Ut facilisis suscipit ipsum sit amet posuere. Cras et justo tortor. Integer tempus dolor eu libero posuere, non sodales magna mattis. Nam non bibendum odio, eu pharetra leo. In feugiat
         elit ex, non hendrerit ex dapibus a. Mauris sagittis sollicitudin auctor.

         In vitae arcu in leo rutrum ultricies ac et justo. Nunc egestas sit amet lorem sit amet aliquam. Etiam et nulla condimentum, fringilla est eu, rutrum purus. Aenean auctor aliquet orci. Sed congue ac nisi eget euismod. Fusce ultrices,
         turpis vel pulvinar vehicula, leo felis maximus enim, non imperdiet ante magna vitae lorem. Sed consequat nisi ut ex tincidunt facilisis. Quisque commodo non lectus ut congue. Curabitur massa ex, scelerisque sed commodo vitae, vulputate
         in eros. In vitae metus dictum, vulputate magna id, bibendum libero. Vivamus pellentesque neque id pellentesque iaculis. Nam tincidunt venenatis lacus ac luctus. Vestibulum porta mauris vitae metus laoreet cursus.

         Aliquam semper, ligula sed hendrerit laoreet, ante massa vehicula metus, ac pharetra sapien ex in erat. Pellentesque sit amet elit sit amet elit feugiat bibendum et vitae leo. Curabitur ornare, sapien non ultrices fringilla, turpis nisl
         fringilla eros, in varius nibh arcu vel arcu. Nulla facilisi. Maecenas faucibus est tellus, sit amet sollicitudin turpis egestas sed. Cras malesuada lectus nunc, ut convallis nisi rhoncus vel. Integer sed fringilla neque, non pharetra
         justo. Mauris tincidunt nulla ex, vitae ultrices mauris aliquet at. Nam sodales mi nisi, ut aliquam mauris mollis sit amet. Fusce rutrum ipsum sed ipsum elementum viverra. Proin sem purus, rutrum et erat at, finibus tempor tellus.
      </div>
   </div>
</div>

<div class="container" id="sports" style="display:none">
   <div class="row">
      <div class="col">
         <h3>Sports</h3>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a purus lacus. Vivamus tincidunt vestibulum efficitur. Aliquam vehicula nisi mi, viverra sollicitudin dui tincidunt a. Pellentesque blandit ultricies metus ut dictum. Etiam
         eget viverra mi, a sollicitudin tellus. Vivamus mauris ex, volutpat at scelerisque et, viverra vitae turpis. Sed pharetra massa at orci tristique ornare. Duis in sodales lectus.

         Suspendisse potenti. Phasellus vitae auctor quam. Ut facilisis suscipit ipsum sit amet posuere. Cras et justo tortor. Integer tempus dolor eu libero posuere, non sodales magna mattis. Nam non bibendum odio, eu pharetra leo. In feugiat
         elit ex, non hendrerit ex dapibus a. Mauris sagittis sollicitudin auctor.

         In vitae arcu in leo rutrum ultricies ac et justo. Nunc egestas sit amet lorem sit amet aliquam. Etiam et nulla condimentum, fringilla est eu, rutrum purus. Aenean auctor aliquet orci. Sed congue ac nisi eget euismod. Fusce ultrices,
         turpis vel pulvinar vehicula, leo felis maximus enim, non imperdiet ante magna vitae lorem. Sed consequat nisi ut ex tincidunt facilisis. Quisque commodo non lectus ut congue. Curabitur massa ex, scelerisque sed commodo vitae, vulputate
         in eros. In vitae metus dictum, vulputate magna id, bibendum libero. Vivamus pellentesque neque id pellentesque iaculis. Nam tincidunt venenatis lacus ac luctus. Vestibulum porta mauris vitae metus laoreet cursus.

         Aliquam semper, ligula sed hendrerit laoreet, ante massa vehicula metus, ac pharetra sapien ex in erat. Pellentesque sit amet elit sit amet elit feugiat bibendum et vitae leo. Curabitur ornare, sapien non ultrices fringilla, turpis nisl
         fringilla eros, in varius nibh arcu vel arcu. Nulla facilisi. Maecenas faucibus est tellus, sit amet sollicitudin turpis egestas sed. Cras malesuada lectus nunc, ut convallis nisi rhoncus vel. Integer sed fringilla neque, non pharetra
         justo. Mauris tincidunt nulla ex, vitae ultrices mauris aliquet at. Nam sodales mi nisi, ut aliquam mauris mollis sit amet. Fusce rutrum ipsum sed ipsum elementum viverra. Proin sem purus, rutrum et erat at, finibus tempor tellus.
      </div>
   </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>

<script type="text/javascript">
   $(document).ready(function() {
      var scroll = new SmoothScroll('a[href*="#"]');
      $("#show-books").click(function() {
         $("#books").show();
         $("#music").hide();
         $("#clothing").hide();
         $("#sports").hide();
      });
      $("#show-music").click(function() {
         $("#books").hide();
         $("#music").show();
         $("#clothing").hide();
         $("#sports").hide();
      });
      $("#show-clothing").click(function() {
         $("#books").hide();
         $("#music").hide();
         $("#clothing").show();
         $("#sports").hide();
      });
      $("#show-sports").click(function() {
         $("#books").hide();
         $("#music").hide();
         $("#clothing").hide();
         $("#sports").show();
      });
   });
</script>
