<!-- Image and text -->
<nav class="navbar navbar-light navbar-expand-lg bg-light shadow">
   <a class="navbar-brand" href="#">
      <img src="img/logo_ece.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Amazon ECE
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="nav-icons" >
         <div class="container">
            <div class="row justify-content-md-center">
               <div class="col-md-auto col-nav">
                  <a class="nav-item nav-link active" href="#"><i class="material-icons md-36">
                        home
                     </i><br>Accueil</a>
               </div>
               <div class="col-md-auto col-nav">
                  <a class="nav-item nav-link" href="#"><i class="material-icons md-36">
                        shopping_basket
                     </i><br>Panier</a>
               </div>
               <div class="col-md-auto col-nav">
                  <a class="nav-item nav-link" href="#"><i class="material-icons md-36">
                        account_circle
                     </i><br>Compte</a>
               </div>
            </div>
         </div>


      </div>
   </div>
</nav>
